.App-top {
  align-self: flex-start;
}

.title-search {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-middle {
  align-self: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .header {
    font-size: 20px;
  }
}

@media (min-width: 601px) {
  .header {
    font-size: 36px;
  }
}