.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar__input {
  text-align: center;
  border: 2px solid var(--secondary);
  border-radius: 4px;
}

.searchbar__form input {
  font-family: "Julias Sans One";
  color: var(--primary)
}

@media (max-width: 600px) {
  .searchbar__input {
    font-size: 26px;
  }
}

@media (min-width: 601px) {
  .searchbar__input {
    font-size: 42px;    
  }
}